        <div id="strings">
    <input type="text" name="allStrings[0]" />
    <input type="text" name="allStrings[1]" />
</div>
<div id="newstring" style="display:none;">
    <input type="text" name="allStrings[#]" />
</div>
<button type="button" id="addstring">Add</button>