@model DeleteMovieViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    using (Html.BeginForm("DeleteMovie", "Movie"))
    {
     <div>@Html.ValidationSummary()</div>
     <div class="margintop25">
         <table>
             <tr>
                 <td>@Html.LabelFor(m => m.Movies)</td>
                 <td>@Html.DropDownListFor(n => n.SelectedMovieId, Model.Movies)</td>
             </tr>
             <tr>
                 <td></td>
                 <td><input type="submit" value="Delete" data-toggle="confirmation" class="btn btn-default marginbottom25" /></td>

             </tr>
         </table>

     </div>
    }
}
else
{
    <h2>Sorry, this page is for admins only.</h2>
}