@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movie database";
}
<h2>Found the following movies</h2>
<div class="container movielistbox">

    @foreach (var movie in Model)
    {
        <a href="@Url.Action("MovieDetails", new { id = movie.Id })"><h4>@movie.Title</h4></a>
    }
</div>