@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Movie database";
}

    <div class="container">
        <ul>
            @foreach (var movie in Model)
            { 
                <h3>@movie.Title, @movie.ProductionYear</h3>
                @movie.Director.Name
            }
        </ul>
</div>