@{
    ViewData["Title"] = "Movie database";
}

<div id="banner">
    <div class="container">
        <div>
            <img src="~/images/banner.png" alt="ASP.NET" class="img-responsive" />

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Your own movie library</h2>
        <ul>
            <li>Add movies</li>
            <li>Search movies</li>
            <li>Rate movies</li>
            <li>Eat tacos</li>
            <li>Save lives</li>
            <li>Save the planet</li>
            <li>Covfefe</li>
        </ul>
    </div>

</div>
